@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
}
h1{
  margin-top: -15px;
}
.div {
  position: relative;
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(192, 161, 161, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.div-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  font-size: 20px;
}
.input{
  font-size: 17px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 40px;
}
.input:hover {
  border-color: #ccc;
}
button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  margin-top: 10px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, #2c5364 0%, #203a43 50%, #0f2027 100%);
  color: #fff;
}
button:hover {
  background: linear-gradient(to left, #2c5364 0%, #203a43 50%, #0f2027 100%);
}
.copy_logo{
  position: absolute;
  left: 93%;
  top: 64px;
  color: black;
  font-size: 23px;
  cursor: pointer;
}
.reload_logo{
  position: absolute;
  left: 88%;
  top: 64px;
  font-size: 23px;
  cursor: pointer;
}